* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
}
.content {
    height: auto;
}
.header {
    height: 100px;
    background: #fff;
}
.img {
    width: 300px;
    height: 100px;
    margin: 90px 540px;
}
.navigation {
    width: 300px;
    display: block;
    background: #fff;
    float: right;
    line-height: 25px;
    margin-right: 40px;
    margin-top: 10px;
}
.nav-list {
    display: block;
    list-style: none;
    float: right;
}
.nav-item {
    display: block;
    float: left;
    padding-left: 5px;
}
a {
    display: block;
    float: left;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
a:hover 
{
    text-decoration: underline;
}
.input {
    width: 400px;
    height: 20px;
    margin-left: -150px;
    margin-top: 10px;
}
.search {
    width: 560px;
    height:45px;
    position:relative;
}
.sound {
    position: absolute;
    top:0;
    left: 0;
    margin-top: 300px;
    margin-left: 870px
}
.dzebna {
    width: 130px;
    height: 30px;
    background:#f1f1f1;
    line-height: 30px;
    text-align: center;
    margin-left: 490px;
    font-family: arial;
    display: block;
    float: left;
}

.dzebna2 {
    width: 200px;
    height: 30px;
    background:#f1f1f1;
    line-height: 30px;
    text-align: center;
    margin-left: 650px;
    font-family: arial;
    margin-bottom: 50px;
}
.middle {
    margin-left: 500px;
    font-family: arial;
    font-size: 15px;
}
.footer {
    width: 100%;
    height: 70px;
    background: #F2F3F4;
    float: left;
    margin-top: 100px;
    display: block;
}
.foot-nav {
    display: block;
    float:left;
    line-height: 10px;
    padding: 10px;
}
.foot-list {
    display: block;
    list-style:none;
}
.foot-list {
    display: block;
    list-style: none;
}
.foot-nav-item {
    display: block;
    float: right;
    padding-left: 5px;
    margin-top: 15px;
}
.foot-item {
    margin-left: 15px;
}
.nav-3 {
    display: block;
    float:right;
    line-height: 10px;
    padding: 10px;
}
.foot-list3 {
    display: block;
    list-style: none;
}
.foot-2 {
    display: block;
    float: right;
    padding-left: 5px;
    margin-top: 15px;
}